<% content_for :title, @campaign.title %>

<% content_for :style, @campaign.stylesheet.html_safe %>

<%= @campaign.top.html_safe %>

<p id="notice"><%= notice %></p>

<%= @campaign.body.html_safe %>

<%= @campaign.bottom.html_safe %>
